@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  @apply box-border h-full;
  
}
::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.dragable {
  -webkit-app-region: drag;
}

.undragable {
  -webkit-app-region: no-drag;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* el-image组件禁止拖动  防止鼠标拖动事件 松开不触发*/
.el-image__inner {
  user-select: none; /* 标准语法，禁止用户选择内容 */
  -moz-user-select: none; /* Firefox 特定语法，禁止用户选择内容 */
  -webkit-user-drag: none; /* WebKit 特定语法，阻止用户拖动 */
}

.text-shadow {
  text-shadow:
    #f87171 1px 0 0,
    #fca5a5 2px 0 0,
    #fecaca 3px 0 0,
    #f87171 0 1px 0,
    #fca5a5 0 2px 0,
    #fecaca 0 3px 0;
}

/* @media screen {
  
} */



.el-input,.el-select{
  @apply w-full
}